.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home .home-top {
    flex: 0;
    border-bottom: solid 1px var(--adm-color-border);
}

.home .home-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-bottom {
    flex: 0;
    border-top: solid 1px var(--adm-color-border);
}